.achievements {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 80px;
  gap: 32px;

  @media all and (max-width: 1439px) {
    flex-direction: column;
    align-items: flex-start;
  }

  @media all and (max-width: 767px) {
    padding-block: 48px;
  }
  .achievements__left {
    h2 {
      font-size: clamp(1.875rem, 1.4789rem + 1.6901vw, 3rem);
      font-weight: 700;
      line-height: 1.3;
      margin: 0;
      @media all and (max-width: 1439px) {
        br {
          display: none;
        }
      }
    }
    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 1.3;
    }
  }
  .achievements__right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    @media all and (max-width: 1439px) {
      width: 100%;
    }
    @media all and (max-width: 767px) {
      gap: 0px;
    }

    .achievements__card {
      display: flex;
      gap: 20px;
      align-items: center;
      .achievements__card__img {
      }
      .achievements__card__info {
        margin-right: clamp(0.625rem, -0.9155rem + 6.5728vw, 5rem);
        h3 {
          font-size: clamp(1.5rem, 1.2359rem + 1.1268vw, 2.25rem);
          font-weight: 900;
          line-height: 1.3;
          margin: 0;
        }
        p {
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          margin: 0;
        }
      }
    }
  }
}
