.companies {
  hr {
    height: 1px;
    border: none;
    background-color: #f3f4f6;
    margin: 0;
  }
  .companies__images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1216px;
    margin: 0 auto;
    border-top: 1px solid #e5e7eb;
    border-bottom: 1px solid #e5e7eb;
    padding-block: 43px;

    @media all and (max-width: 1439px) {
      gap: 20px;
      justify-content: center;
      padding-block: 24px;
    }

    @media all and (max-width: 767px) {
      padding-block: 16px;
    }

    .company {
      margin-inline: 14px;
      cursor: pointer;
    }
  }
}
